@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col"></div>
<section class="jumbotron" id="indexMainImage">
    <div class="container row text-center" id="indexMainImageText">
        <div class="col-sm-6">
            <h1> Hyoz Mall </h1>
        </div>
        <div class="col-sm-3">
            <h2> Youtuber's Shopping Mall </h2>
        </div>
    </div>
    <div class="col-sm-3 float-right">
        <a class="btn btn-primary" href="#mainArticle">
            See Article
        </a>
    </div>
</section>

<section class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>

    <h1 class="display-4" >Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    <h1 class="display-4">Hello, world!</h1>
    <a name="mainArticle"></a>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</section>
